{% set INGRESS_COLLECTION_PREFIX = '/apis/extensions/v1beta1/namespaces/{namespace}/' %}
{% set INGRESS_COLLECTION = INGRESS_COLLECTION_PREFIX + 'ingresses' %}

{% set CLUSTER_TYPE = properties['CLUSTER_TYPE'] %}
{% set PORT = properties['PORT'] %}
{% set NAME_PREFIX = properties['NAME_PREFIX'] %}



resources:
- name: {{ NAME_PREFIX }}-ingress
  type: {{ CLUSTER_TYPE }}-v1beta1-extensions:{{ INGRESS_COLLECTION }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Ingress
    namespace: default
    metadata:
      name: {{ NAME_PREFIX }}-ingress
    spec:
      backend:
        serviceName: {{ NAME_PREFIX }}-service
        servicePort: {{ PORT }}